[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[rpc_endpoints]
al-base = "https://base-mainnet.g.alchemy.com/v2/${ALCHEMY_KEY}"
